#one {
	display: block;
	background-color: rgb(20,20,20);
	width: 100%;
	height: 40px;
	margin: 0;
	text-align: right;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
.a1 {
	display: inline-block;
	background-color: rgb(50,50,50);
	width: 15%;
	height: 18px;
	text-align:center;
	color: rgb(230,230,230);
	padding: 10px 0;
}
.a2 {
	color: rgb(30,30,30);
}
#sould {
	width: 100%;
}
#two {
	display: block;
	background: rgb(22,19,19) /*url(sould.png)*/;
	width: 100%;
	height: 300px;
	margin: 0;
	text-align:center;
	/*background-attachment: fixed;  /*Фон страницы фиксируется */ 
	/*background-repeat: repeat-x;*/
	background-size: 100%;
}
#reg {
	display: block;
	background-color: rgb(20,20,20);
	width: 100%;
	margin: 0;
	text-align: center;
	color: rgb(230,230,230);
	font-family: Geneva, Arial, Helvetica, sans-serif;
	padding: 15px, 0;
}
.cart {
	display: inline-block;
	background-color: rgb(50,50,50);
	width: 30%;
	height: 200px;
	text-align:center;
	color: rgb(230,230,230);
	padding: 10px;
}
.cart2 {
	display: block;
	background-color: rgb(230,230,230);
	width: 100%;
	height: 40px;
	text-align:center;
}
#three {
	display: block;
	background-color: rgb(120,120,120);
	width: 100%;
	height: 50px;
	margin: 0;
	text-align:center;
}

#three-one {
	display: inline-block;
	background-color: rgb(30,30,30);
	width: 20%;
	height: 40px;
	text-align:center;
	color: rgb(230,230,230);
	padding: 5px 0;
	font-size: 30px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

#three-two {
	display: inline-block;
	background-color: rgb(30,30,30);
	width: 20%;
	height: 40px;
	text-align:center;
	color: rgb(230,230,230);
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 30px;
	padding: 5px 0;
}

#three-three {
	display: inline-block;
	background-color: rgb(30,30,30);
	width: 20%;
	height: 40px;
	text-align:center;
	color: rgb(230,230,230);
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 30px;
	padding: 5px 0;
}

#three-foor {
	display: inline-block;
	background-color: rgb(30,30,30);
	width: 20%;
	height: 40px;
	text-align:center;
	color: rgb(230,230,230);
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 30px;
	padding: 5px 0;
}

#foor {
	display: block;
	background-color: rgb(230,230,230);
	width: 60%;
	height: 550px;
	margin: 0 15% 0 15%;
	text-align:center;
	padding: 50px 40px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

#fife {
	display: block;
	background-color: rgb(60,60,60);
	width: 100%;
	height: 70px;
	margin: 0;
	text-align:center;
	padding: 20px 0;
	color: rgb(30,30,30);
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
* {
	margin: 0;
	background-color: (22,19,19)
}
